<a href="https://colab.research.google.com/github/blacksant0145/tareas/blob/main/tarea_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

crear una tupla y mostrar la posición tres

In [1]:
frutas= ("apple", "banana", "cherry", "date", "fig", "grape")
frutas[3]

'date'

crea una tupla y muestrala

In [3]:
 fruits = ("apple", "banana", "cherry", "date", "fig", "grape")
 print(fruits)

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')

dada la tupla desempaqueta sus valores en tres variables y luego imprime cada variable

In [6]:
colors = ("red", "green", "blue")
red=0
green=1
blue=2
print (red, green, blue)

0 1 2

Crea dos tuplas, una con los números  y otra con los números Concatenálas en una sola tupla y muestra el resultado

In [7]:
num=(1,2,3)
num_2=(4,5,6)
print (num+num_2)

(1, 2, 3, 4, 5, 6)

Crea una tupla con el elemento "repeat" y repítela 4 veces. Imprime el resultado.

In [8]:
tupla=('repeat')
tupla=('repeat')
tupla=('repeat')
tupla=('repeat')
print(tupla)

repeat

Dada la tupla numbers = (10, 20, 30, 40, 50), utiliza un bucle for para iterar sobre la tupla e imprimir cada número

In [19]:
numbers=(10,20,30,40,50)
for i in numbers:
  print(i)

10
20
30
40
50

Crea una tupla que contenga otras dos tuplas: tuple1 = (1, 2, 3) y tuple2 = ("a", "b", "c"). Imprime la tupla anidada

In [23]:
tupla_u=((1,2,3),("a","b","c"))
print(tupla_u)

((1, 2, 3), ('a', 'b', 'c'))

Dada la tupla letters = ("a", "b", "c", "d"), verifica si la letra "e" está en la tupla e imprime un mensaje apropiado

In [25]:
letters=("a","b","c","d")
if "e" in letters:
  print("la letra esta en la tupla")
else:
  print("la letra no esta en la tupla")

la letra esta en la tupla

Convierte la lista my_list = [100, 200, 300, 400] a una tupla e imprime la tupla resultante.

In [27]:
my_list=[100,200,300,400]
tupla_2=tuple(my_list)
print(tupla_2)

(100, 200, 300, 400)

Dada la tupla my_tuple = (5, 10, 15, 20, 25, 30, 35), imprime el valor en el índice 2 y una sub-tupla que contenga los elementos desde el índice 1 hasta el 4

In [34]:
my_tuple=(5,10,15,20,25,30,35)
print(my_tuple[2])
sub_tupla=my_tuple[1:5]
print(sub_tupla)

15
(10, 15, 20, 25)